[color]
    ui = auto

[core]
    ignorecase = true
    excludesfile = ~/.gitignore
    quotepath = false
    autocrlf = input

[init]
    defaultBranch = main

[rerere]
    enabled = true

[push]
    default = simple

[pull]
	rebase = true

[rebase]
    autosquash = true

[merge]
    tool = p4merge
    keepBackup = false
[mergetool]
    prompt = no
[mergetool.p4merge]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
    ; path = ~/bin/p4merge
[mergetool.code]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[diff]
    tool = p4merge
    # tool = difft
    mnemonicprefix = true
    renames = true
    noprefix = true
[difftool]
    prompt = no
[difftool.p4merge]
    cmd = p4merge "$LOCAL" "$REMOTE"
[difftool "difft"]
    cmd = difft "$LOCAL" "$REMOTE"


[diff "xml"]
    command = xmldiff

[pager]
    difftool = true

[alias]
    lgp = log -p
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%aN%Creset' --abbrev-commit --date=relative
    lgg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%aN%Creset' --abbrev-commit --date=relative
    lgd = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci, %cr) %C(bold blue)%aN%Creset' --abbrev-commit --date=relative
    ; lgx= log --color --pretty=format:'%C(auto)%h %Cred %<(10,trunc)%an %Creset%C(auto)%s %Cgreen(%cr,%ar) %Creset%C(auto)%d' 

    last = !git reflog|grep 'moving from' |awk '{print $6}'|head -100|sort -u

    ;ignore = update-index --assume-unchanged
    ;unignore = update-index --no-assume-unchanged
    ;ignored = !git ls-files -v | grep "^[[:lower:]]"

    ignore = update-index --skip-worktree
    unignore = update-index --no-skip-worktree
    ignored = !git ls-files -v | grep "^S"

[credential]
    helper = cache --timeout=3600

[log]
    follow = true

[http]
    cookiefile = /Users/gavriep/.gitcookies

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
